  
body {
	background-color: #474747;
	color:  #FFA500;
	font-family: "Arial";
	font-weight: 200;
	
}

#body{
	text-align: center;
	padding-top: 60px;
	font-size: 40px;
}

.Setting1{
	text-align: center;
	padding-top: 60px;
	padding-left: 20px;
	font-size: 18px;
}

.Setting2{
	text-align: center;
	padding-top: 60px;
	padding-left: 20px;
	font-size: 18px;
}



